@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.none {
    display: none !important;
}
.header {
    position: relative;
    overflow: hidden; /*элементы находящиеся в header  не выходят за его границы*/
    
    padding-top: 80px;
    padding-bottom: 80px;

    border-bottom-right-radius: 100px;
   /* background: #252525 linear-gradient(158deg, #2f2f2f 0%, #202020 100%);*/ /* поставили черный фон, лучше для видео */
    background-color: #000;
    color: #fff;
}
.header .container {
    position: relative;
    z-index: 2; /* чем выше индекс, тем выше слой контента */
    
}
.header-video {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* маштабирует без полей справа и слева */
    object-position: center;
    border-bottom-right-radius: 100px;

    opacity: 0.3; /* прозрачность видео */
}
.container {
    max-width: 1200px;
    margin: 0 auto; /* выравнивание по центру */
    padding: 0 15px;
}
.header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 60px; /* отступ от картинки */
}
.header-img {
    border-radius: 80px;
}
.header-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 60px;
}
.header-text {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 26px;
}
.header-btns {
    display: flex;
    column-gap: 20px;
}
.btn {
    height: 48px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;

    background-color: #000;
    border-radius: 8px;

    color: #fff;
    line-height: 1;
    transition: all 0.2s ease-in;
}
.btn:hover {
    background-color: #1782CF;
}
.btn-contact {
    height: 48px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    
    border: 1px solid #3b3b3b;
    border-radius: 8px;
    
    color: #fff;
    line-height: 1;
    transition: all 0.2s ease-in;
}
.btn-contact:hover {
    border-color: #1782CF;
}
/* portfolio */

.portfolio {
    padding: 80px 0;
    
}
.portfolio-title {
    margin-bottom: 65px;
    font-size: 52px;
    font-weight: 700;
    text-align: center;
}
.projects {
    display: flex;
    flex-direction: column;
    row-gap: 70px; /* отступ между рядами */
    align-items: center;
}
.project {
    text-align: center;
}
.project-img {
    margin-bottom: 30px;
    border-radius: 30px;

    transition: opacity 0.2s ease-in;
}
.project-img:hover {
    opacity: 0.8;
}
.project-title {
    font-size: 22px;
}
.project-title a {
    color: #000;
    text-decoration: underline;
}

/* contacts */
.contacts {
    padding: 80px 0;
    border-top-left-radius: 100px;
    background-color: #252525;
    color: #fff;
}
.contacts-title {
    display: flex;
    margin-bottom: 65px;
    font-size: 52px;
    font-weight: 700;
    justify-content: center;

}
.messangers {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}
.messanger {
    flex-grow: 1; /* каждый блок равномерно будет занимать свободное место в блоке */

    display: flex;
    column-gap: 15px;
    align-items: center;
            
    padding: 46px 20px;
    border: 1px solid #363636;
    border-radius: 20px;

    color: #FFF;
    font-style: 20px;

    transition: background-color 0.2s ease-in;
}
.messanger:hover {
    background-color: #1E1E1E;
}
/* footer */
.footer {
    padding: 30px 0;
    background-color: #1E1E1E;
    color: #5D5D5D;
}
.footer a {
    color: #5886A8;
}
.footer-inner {
    font-size: 14px;
    text-align: center;
}
/* нужны 2 тэга <p> идущих друг за другом иначе селектор -footer-inner p+p- работать не будет */
.footer-inner p + p {
    margin-top: 15px;
}
/* inner */
.inner-page {
    padding: 80px 0 40px;
}
.inner-page-datails {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;

    margin-bottom: 40px;
    text-align: center;
}
.inner-page-title {
    font-size: 52px;
    font-weight: 700;
}
.inner-page-text {
    display: flex;
    flex-direction: column;
    row-gap: 25px;

    max-width: 570px;

    color: #555555;
    line-height: 1.5;
}
.inner-page-link {
    color: #000;

}
.inner-page-link a {
    color: #000;
    text-decoration: underline;
}
.inner-page-img {
    display: block; 
    margin: 0 auto;
    margin-bottom: 40px;
}
.inner-page-backlink {
   max-width: 770px;
    margin: 0 auto;
    padding: 30px;

    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;

    background-color: #F1F1F1;
    text-align: center;
    color: #000;

    transition: 0.2s ease-in;
}
.inner-page-backlink:hover {
    background-color: #d8d6d6;
}
/* travel */
.agency-page {
    padding: 80px 0 40px;
}

.agency-page-datails {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;

    margin-bottom: 40px;
    text-align: center;
}

.agency-page-title {
    font-size: 52px;
    font-weight: 700;
    color: #000;
}

.agency-page-text {
    display: flex;
    flex-direction: column;
    row-gap: 25px;

    max-width: 570px;

    color: #555555;
    line-height: 1.5;
}

.agency-page-link {
    color: #000;

}

.agency-page-link a {
    color: #000;
    text-decoration: underline;
}

.agency-page-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}

.agency-page-backlink {
    max-width: 770px;
    margin: 0 auto;
    padding: 30px;

    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;

    background-color: #F1F1F1;
    text-align: center;
    color: #000;

    transition: 0.2s ease-in;
}

.agency-page-backlink:hover {
    background-color: #d8d6d6;
}
/* complex */
.complex-page {
    padding:  80px 0 40px;    
}
.complex-page-datails {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;

    margin-bottom: 40px;
    text-align: center;
}
.complex-page-title {
    font-size: 52px;
    font-weight: 700;
}
.complex-page-text {
    display: flex;
    flex-direction: column;
    row-gap: 25px;

    max-width: 570px;

    color: #555555;
    line-height: 1.5;
}
.complex-page-link {
    color: #000;
}
.complex-page-link a {
    color: #000;
    text-decoration: underline;
}
.complex-page-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}

.complex-page-backlink {
    max-width: 770px;
    margin: 0 auto;
    padding: 30px;

    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;

    background-color: #F1F1F1;
    text-align: center;
    color: #000;

    transition: 0.2s ease-in;
}

.complex-page-backlink:hover {
    background-color: #d8d6d6;
}